importFrom(rjson, fromJSON, toJSON)
export(lims,lims.spectraCreator,lims.getDate,lims.log,lims.spectra.toDataframe)
export(plot.spectra,dim.spectra,lims.spectra.setMask,lims.getJSON)
export(lims.getParametersNames,lims.getParameters,lims.findExperimentNames)
export(lims.getNmrs,lims.createDataSet,lims.findSolventNames)
