importFrom(rjson, fromJSON, toJSON)
export(lims,lims.spectraCreator,lims.getDate,lims.log,lims.spectra.toDataframe)
export(plot.spectra,dim.spectra,lims.spectra.setMask)
export(lims.JSON.getUserEntries,lims.JSON.getEntry,lims.getUserEntries)
export(lims.getParametersNames,lims.getParameters,lims.getUserSamplesMetaData,lims.selectSamples)
export(lims.getNmrs,lims.getSpectra,lims.createDataSet)
