#importFrom(rjson, fromJSON, toJSON)
import(rjson, e1071)
importFrom(caret,confusionMatrix)
export(lims,lims.getDate,lims.log,lims.spectra.toDataframe)
export(plot.spectra,dim.spectra,lims.spectra.setMask, lims.spectraCreator)
export(lims.findExperimentNames,lims.findSolventNames)
export(lims.JSON.getUserEntries,lims.JSON.getEntry,lims.getUserEntries)
export(lims.getParametersNames,lims.getParameters,lims.getUserSamplesMetaData)
export(lims.getNmrs,lims.createDataSet)
export(lims.opls.model, findRepetitions, sampleParam)
export(lims.scaling, lims.pls.model, lims.validate,osc.lims)
export(lims.pareto, lims.vast, lims.range, lims.getIrs)
export(check.data, plotMetabo, plotMulti)
